In [4]:
import pandas as pd
import csv

df=pd.read_csv('nepali_data_set.csv')
df

        Column1     Column2
0       बर्मेली           O
1          भाषा           O
2        मात्रै           O
3        जान्ने           O
4          अनिल    B-Person
...         ...         ...
282584     धरान  B-Location
282585       मा           O
282586  जोडिनेछ           O
282587        ।           O
282588      NaN         NaN

[282589 rows x 2 columns]

In [5]:
import csv
from nltk import word_tokenize

## Function to remove punctuation
def remove_punctuation(text):
    punctuation = ['।', ',', '-', '(', ')', '.', '’', '‘']
    for p in punctuation:
        text = text.replace(p, '')
    return text

## Function to remove stopwords
def remove_stopwords(stopwords, text):
    text = ' '.join([word for word in text.split() if word not in stopwords])
    return text

## Function to tokenize
def tokenize(input_text):
    stopWords = './stopword1.txt'
    text = input_text
    text = remove_punctuation(text)
    with open(stopWords, 'r', encoding='utf-8') as file:
        stopwords = file.read()
    text = remove_stopwords(stopwords, text)
    spltext = word_tokenize(text)
    return spltext

## Function to write tokenized data to csv file
def write_to_csv(spltext):
    out = 'nepali_data_set_1.csv'
    with open(out, 'w', newline='', encoding='utf-8-sig') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow(['Words'])
        for item in spltext:
            csv_writer.writerow([item])

## Main function
def main():
    input_text = 'कृष्णा पोखरा घुम्न गएको थियो। त्यसको यात्रा रमाइलो भएको थियो !'
    spltext = tokenize(input_text)
    # write_to_csv(spltext)
    print(spltext)
    print("Tokenized data has been written to 'nepali_data_set_1.csv'.")

if __name__ == "__main__":
    main()

['कृष्णा', 'पोखरा', 'घुम्न', 'यात्रा', 'रमाइलो', '!']
Tokenized data has been written to 'nepali_data_set_1.csv'.