In [2]:
import csv
import pandas as pd

df = pd.read_csv('')
# df.insert(1,'Label','')
df.to_csv('test1.csv',index=False,encoding='utf-8-sig')
df

            Words  Label
0        प्रशान्त    NaN
1            झाको    NaN
2           किताब    NaN
3        ब्याटल्स    NaN
4              अफ    NaN
...           ...    ...
17117      Follow    NaN
17118           @    NaN
17119  Milanleads    NaN
17120      लेखकको    NaN
17121     फेसबुकः    NaN

[17122 rows x 2 columns]